appdirs==1.4.0
cffi==1.9.1
cycler==0.10.0
eyeD3==0.7.11
functools32==3.2.3.post2
hmmlearn==0.2.0
matplotlib==2.0.0
numpy==1.12.0
packaging==16.8
pycparser==2.17
pydub==0.18.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-speech-features==0.5
pytz==2017.2
scikit-learn==0.18.1
scipy==0.18.1
simplejson==3.10.0
six==1.10.0
sklearn==0.0
sounddevice==0.3.6
subprocess32==3.2.7
